* {
  margin: 20;
  padding: 10;
  box-sizing: border-box;
}
header {
  background-color: #e09a9a;
  color: #fff;
  text-align: center;
  padding: 20px;
}

h1 {
  color: rgb(216, 16, 73);
  text-align: center;
  background-color: rgb(252, 201, 229);
  padding-bottom: 2ch;
  top: 2ch;
  font-family: cursive
}

body {
  font-size: large;
  text-align: center;
  text-decoration: solid;
  background-color: rgb(248, 165, 134);
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
}
h2 {
  font-size: 20px;
  margin-top: 20px;
}
ol {
  list-style-type: decimal;
  margin-left: 20px;
}

li {
  margin: 5px 0;
}

ul {
  list-style-type: disc;
  margin-left: 20px;
}



footer {
  font-size: larger;
  background-color: rgb(162, 152, 228);
}
